<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <!--頁面更新時間設定-->
    <add key="Timer" value="5"/>
    <add key="StartTimer" value="08:44:50"/>
    <add key="StartRangeTimer" value="08:45:10"/>

    <add key="EndTimer" value="13:45:02"/>
    <!--取得保證金資料夾及檔名-->
    <add key="EmergencyFlag" value="false"/>
    <add key="EmergencyMsg" value=""/>

    <add key="MarginPath" value="C:\Inetpub\wwwroot\PFCFCOM\FutureTxt\"/>
    <add key="MarginTxtName" value="FutureExchange.txt"/>
    <add key="MarginTop10TxtName" value="FutureTop10.txt"/>
  </appSettings>
</configuration>
